body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 29rem;
    height: 23rem;
    border: 1px solid grey;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    padding: 2rem;
    width: 15rem;
    position: absolute;
    z-index: 2;
    top: 6rem;
    right: 14.5rem;
}


.deleteBookBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 17px;
    border: none;
    background-color: lightgrey;
}

.book-con {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: start;
    align-items: center;

}





