body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 35rem;
    height: 30rem;
    border: 1px solid grey;
    position: relative;
}

form {
    display: grid;
    grid-template-columns: 100px;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    gap: 5px;
    padding: 2rem;
    width: 15rem;
    height: 25rem;
    position: absolute;
    z-index: 2;
    left: 48%;
    margin-left: -120px;
    top: 14.5%;
    margin-bottom: -200px;

}


#exitBtn {
    display: flex;
    align-self: end;
    align-content: end;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    padding: 0px;
}


.inputs {
    display: flex;
    flex-direction: column;

}

.title, .read, .page, .author {
    margin: 8px;
    
}

#addBtn {
    margin: 12px;
    padding: 8px;
}

.deleteBookBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 17px;
    border: none;
    background-color: lightgrey;
}

.book-con {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: start;
    align-items: center;
    margin: 20px;

}





